[user]
    signingkey = key::{{ vars.git_signing_key }}

[gpg]
    format = ssh

# Use 1Password for SSH key signing
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
    program            = {{ '/Applications/1Password.app/Contents/MacOS/op-ssh-sign' if os() == 'macos' else '/opt/1Password/op-ssh-sign' }}

[commit]
    gpgsign = true

[tag]
    gpgsign = true
