[core]
    editor = nvim
    pager  = delta

[delta]
    navigate = true

[diff]
    colorMoved = default

# `hk install --global` would write into this file, which mise overwrites on apply
# mise_bin avoids the absolute, version-pinned path hk would hardcode
# TODO: hk installs four of the nine events it supports; revisit when that changes
[hook "hk-commit-msg"]
    command = test \"${HK:-1}\" = \"0\" || {{ mise_bin }} x hk -- hk run commit-msg --from-hook
    event   = commit-msg

[hook "hk-pre-commit"]
    command = test \"${HK:-1}\" = \"0\" || {{ mise_bin }} x hk -- hk run pre-commit --from-hook --staged
    event   = pre-commit

[hook "hk-pre-push"]
    command = test \"${HK:-1}\" = \"0\" || {{ mise_bin }} x hk -- hk run pre-push --from-hook
    event   = pre-push

[hook "hk-prepare-commit-msg"]
    command = test \"${HK:-1}\" = \"0\" || {{ mise_bin }} x hk -- hk run prepare-commit-msg --from-hook
    event   = prepare-commit-msg

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[push]
    autoSetupRemote = true

{# Guarded so a machine with no identity set still bootstraps -#}
{% if vars?.git_email %}
[user]
    email = {{ vars.git_email }}
    name  = {{ vars.git_name }}
{% endif %}

[alias]
    a    = add
    aa   = add --all
    au   = add --update
    b    = branch
    bd   = branch --delete
    c    = commit -m
    ca   = commit --amend
    d    = diff
    ds   = diff --staged
    f    = fetch --prune
    fa   = fetch --all --prune
    l    = log --oneline
    lg   = log --graph --oneline --all
    m    = merge
    p    = push
    pl   = pull
    r    = rebase
    rc   = rebase --continue
    ri   = rebase --interactive
    root = rev-parse --show-toplevel
    rs   = restore
    rss  = restore --staged
    s    = status -sb
    st   = stash
    stp  = stash pop
    sw   = switch
    swc  = switch --create
    t    = tag
    td   = tag --delete
